# python
.venv
__pycache__
*.pyc

# ignore ThirdLibrary (managed by bootstrap.py)
LSGD/ThirdLibrary/src/
LSGD/ThirdLibrary/archive/

# bootstrap intermediate files
.bootstrap.json

# ignore log files
*.log.*
*.log

# Output, Intermediate
Output
Intermediate

# manim
media
